body{
    background-color: #242424;
    color: #C1DB3C;
}

h2{
    color: #851acc;
    font-weight: bold;
}
.texto-ingles{
    font-style: italic;
}
#nome-usuario{
    color: #f384db ;
    font-weight: bold;
    font-size: 100%;
}


