body{
    background-color: #242424;
    color: #C1DB3C;
}

h2{
    color: #851acc;
}
.texto-ingles{
    font-style: italic;
}
#nome-usuario{
    color: #cc1aa5 ;
    font-weight: bold;
}


